{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbank_bulkmove/bulk_move

    The move form to move selested questions.

    Context variables required for this template:
    * categorydropdown - dropdown html from the managecategories plugin for the list of categories
    * moveurl - the url to post the selected category
    * returnurl - the base page to return to

    Example context (json):
    {
        "categorydropdown": "<select class='select custom-select custom-select'><optgroup label='Course: tes'><option value='2,13'>Default for test (5)</option></optgroup></select>",
        "moveurl": "/question/bank/bulkmove/move.php?courseid=2",
        "returnurl": "/question/edit.php?courseid=2"
    }
}}

<div class="bulkeditquestion-header">
    <h3>{{#str}} bulkeditheader, qbank_bulkedit {{/str}}</h3>
</div>
<form action="{{{editurl}}}" method="post" id="bulkeditquestion">
    <label for="findtext">{{#str}}findtext, qbank_bulkedit{{/str}}</label>    <a class="btn btn-link p-0" role="button"
    data-container="body" data-toggle="popover"
    data-placement="{{#ltr}}right{{/ltr}}{{^ltr}}left{{/ltr}}" data-content="{{#str}}update, qbank_bulkedit{{/str}}"
    data-html="true" tabindex="0" data-trigger="focus">
    {{#pix}}help, core, {{{alt}}}{{/pix}}
  </a><br/>
    <textarea id="findtext" name="findtext" rows="4" cols="50" placeholder="Text to search for"></textarea><br/>

    <label for="replacement">{{#str}}replacement, qbank_bulkedit{{/str}}</label>
    <a class="btn btn-link p-0" role="button"
    data-container="body" data-toggle="popover"
    data-placement="{{#ltr}}right{{/ltr}}{{^ltr}}left{{/ltr}}" data-content="{{#str}}update, qbank_bulkedit{{/str}}"
    data-html="true" tabindex="0" data-trigger="focus">
    {{#pix}}help, core, {{{alt}}}{{/pix}}
  </a>
    <br/>
    <textarea id="replacement" name="replacement" rows="4" cols="50" placeholder="Text that will replace the searched for text"></textarea><br/>

    <br/>
    <input type="submit" value="{{#str}} update, qbank_bulkedit {{/str}}" class="btn btn-primary" name="edit" data-action="toggle" data-togglegroup="qbank"
           data-toggle="action" form="bulkeditquestion">

    <a href="{{{returnurl}}}" class="btn btn-secondary">{{#str}}close, qbank_bulkedit{{/str}}</a>

</form>
